@model KillMech.Models.DesempenoCapitulo

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Desempeño de Capítulo</h1>

<h3>¿Estás seguro de que deseas eliminar este desempeño?</h3>
<div>
    <h4>Desempeño de Capítulo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Completo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Completo)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TiempoCompletacion)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TiempoCompletacion)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DanoTotalHecho)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DanoTotalHecho)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DanoTotalRecibido)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DanoTotalRecibido)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EvasionesRealizadas)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EvasionesRealizadas)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DisparosRealizados)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DisparosRealizados)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DisparosAcertados)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DisparosAcertados)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TransformacionesRealizadas)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TransformacionesRealizadas)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DanoJetTotal)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DanoJetTotal)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DanoMechaTotal)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DanoMechaTotal)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nivel.NivelID)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nivel.NivelID)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Partida.PartidaId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Partida.PartidaId)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="DesempenoCapituloId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
