@model IEnumerable<KillMech.Models.DesempenoCapitulo>

@{
    ViewData["Title"] = "Índice";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<p>
    <a asp-action="VistaDificultadCapitulo" class="btn btn-info">Gráficos</a>
</p>

<form asp-controller="DesempenoCapituloes" asp-action="Index" method="get">
    <div class="form-group">
        <label for="nivel">Buscar por Nivel:</label>
        <input type="text" id="nivel" name="nivel" class="form-control" placeholder="Ingrese el nivel">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Completo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoCompletacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanoTotalHecho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanoTotalRecibido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvasionesRealizadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisparosRealizados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisparosAcertados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformacionesRealizadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanoJetTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanoMechaTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partida)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Completo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TiempoCompletacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanoTotalHecho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanoTotalRecibido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvasionesRealizadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisparosRealizados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisparosAcertados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransformacionesRealizadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanoJetTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanoMechaTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel.NivelID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partida.PartidaId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DesempenoCapituloId" class="btn btn-secondary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.DesempenoCapituloId" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.DesempenoCapituloId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.TotalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
}
