@model IEnumerable<KillMech.Models.DesempenoCapitulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="VistaDificultadCapitulo">Graficos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Completo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoCompletacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanoTotalHecho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanoTotalRecibido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvasionesRealizadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisparosRealizados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisparosAcertados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransformacionesRealizadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanoJetTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanoMechaTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Completo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoCompletacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanoTotalHecho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanoTotalRecibido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvasionesRealizadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisparosRealizados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisparosAcertados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransformacionesRealizadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanoJetTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanoMechaTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel.NivelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partida.PartidaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DesempenoCapituloId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DesempenoCapituloId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DesempenoCapituloId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
