@model IEnumerable<KillMech.Models.Jugador>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<p>
    <a asp-action="VistaDesempenoJugadores" class="btn btn-info">Gráficos</a>
</p>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoJugador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoJugado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoJugador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TiempoJugado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.JugadorId" class="btn btn-secondary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.JugadorId" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.JugadorId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
